@charset "utf-8";

/* 1bit Monitor Glow palette
 * https://lospec.com/palette-list/1bit-monitor-glow
 *
 * off = #222323
 * on = #F0F6F0
 */

body {
    background: #222323;
    font-family: -apple-system, 'Segoe UI', 'DejaVu Sans', system-ui, sans-serif;
    margin: 1vw;
}

canvas {
    display: block;
}

#all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#p1, #a, #b, #nu {
    height: 600px;
    width: 600px;
}

#p1 {
    padding-bottom: 10px;
}

#p2 {
    padding: 0 10px;
}

#a, #b, #nu {
    position: absolute; /* stack #a on top of #b */
}

#nu {
    display: flex;
    flex-direction: column-reverse;
    text-transform: capitalize;
}

.nt, .n2 {
    padding: 0 4px;
}

.nt {
    background: #fff;
    color: #222323;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
}

.n2 {
    background: #DD3745;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 -4px;
    text-shadow: 2px 2px #A52639;
}

#fun {
    color: #8CDAFF;
    font-size: 32px;
    font-weight: 600;
    line-height: 2;
    margin-bottom: 10px;
    opacity: 0;
    text-align: center;
    text-shadow: 0 1px 1px #50B9EB, 0 2px 1px #3E83D1;
    transition: opacity 0.5s;
    white-space: nowrap;
}

#doge {
    color: #FFE091;
    font-variant-numeric: tabular-nums;
    text-shadow: 0 1px 1px #FFAA6E, 0 2px 1px #FF695A;
}

#p2 div {
    padding-bottom: 10px;
}

#p2 a {
    background: #50B9EB;
    border-radius: 3px;
    box-shadow: 0 1px 1px #3E83D1, 0 1px 2px #3E83D1;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0 1px 1px #3E83D1, 0 1px 2px #3E83D1, 0 1px 4px #3E83D1;
    text-transform: uppercase;
    white-space: pre-line;
}

#p2 a span {
    color: #FFE091;
    text-shadow: 0 1px 1px #FFAA6E, 0 1px 2px #FF695A, 0 1px 4px #3E83D1;
}

#p2 a:hover {
    background: #27D3CB;
    box-shadow: 0 1px 1px #00AAA5, 0 1px 2px #00AAA5;
    text-shadow: 0 1px 1px #00AAA5, 0 1px 2px #00AAA5, 0 1px 4px #00AAA5;
}

#p2 a:hover span {
    text-shadow: 0 1px 1px #FFAA6E, 0 1px 2px #FF695A, 0 1px 4px #00AAA5;
}

#p2 a:active {
    transform: translateY(2px);
}
