@charset "utf-8";

* {
    touch-action: manipulation;
}

/* 1bit Monitor Glow palette
 * https://lospec.com/palette-list/1bit-monitor-glow
 *
 * off = #222323
 * on = #F0F6F0
 */

body {
    background: #222323;
    font-family: -apple-system, 'Segoe UI', 'DejaVu Sans', system-ui, sans-serif;
    margin: 1vw;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

canvas, a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
}

canvas {
    display: block;
}

a {
    cursor: default;
    touch-action: manipulation;
}

/* Page layout */

#all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#p1, #a, #b, #nu, #end {
    height: 600px;
    width: 600px;
}

#p1 {
    padding-bottom: 10px;
    position: relative;
}

#p2 {
    padding: 0 10px;
}

#a, #b, #nu, #end {
    position: absolute; /* stack #a on top of #b */
}

#nu {
    overflow: hidden;
    text-transform: capitalize;
}

.nt, .n2 {
    padding: 0 4px;
}

.nt, #fun, #btn-attack {
    font-size: 32px;
    font-weight: 600;
}

.nt {
    background: #fff;
    bottom: 0;
    color: #222323;
    line-height: 1.4;
    position: absolute;
    width: 600px;
}

.n2 {
    background: #DD3745;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 -4px;
    text-shadow: 2px 2px #A52639;
}

/* Page heading */

#fun {
    color: #8CDAFF;
    line-height: 1.6;
    margin-bottom: 10px;
    opacity: 0;
    text-align: center;
    text-shadow: 0 1px 1px #50B9EB, 0 2px 1px #3E83D1;
    transition: opacity 0.5s;
    white-space: nowrap;
}

#doge, #end {
    color: #FFE091;
    font-variant-numeric: tabular-nums;
    text-shadow: 0 1px 1px #FFAA6E, 0 2px 1px #FF695A;
}

/* Action buttons */

.fn {
    padding-bottom: 10px;
}

.fn a {
    background: #50B9EB;
    border-radius: 6px;
    box-shadow: 0 1px 1px #3E83D1, 0 1px 2px #3E83D1;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    padding: 4px 8px;
    text-decoration: none;
    text-shadow: 0 1px 1px #3E83D1, 0 1px 2px #3E83D1, 0 1px 4px #3E83D1;
    text-transform: uppercase;
    white-space: pre-line;
}

.fn a span {
    color: #FFE091;
    text-shadow: 0 1px 1px #FFAA6E, 0 1px 2px #FF695A, 0 1px 4px #3E83D1;
}

.fn a:hover {
    background: #FF6EAF;
    box-shadow: 0 1px 1px #E54286, 0 1px 2px #E54286;
    text-shadow: 0 1px 1px #E54286, 0 1px 2px #E54286, 0 1px 4px #E54286;
}

.fn a:hover span {
    text-shadow: 0 1px 1px #FFAA6E, 0 1px 2px #FF695A, 0 1px 4px #E54286;
}

.fn a:active {
    transform: translateY(2px);
}

a.off {
    filter: grayscale(1);
    pointer-events: none;
}

/* Options buttons */

.opt {
    display: flex;
}

.opt .fn {
    padding: 0 10px 30px 0;
}

.opt .fn a {
    font-size: 14px;
}

/* CSS transitions */

.fn {
    left: -2000px;
    opacity: 0;
    position: absolute;
    top: -1000px;
    transform: translateY(40px) scale3d(1.2, 1.2, 1);
    transform-origin: left;
    transition: opacity 500ms, transform 500ms;
}

.fn.enter {
    opacity: 1;
    position: static;
    transform: translateY(0) scale3d(1, 1, 1);
}

.nt {
    transition: transform 1s;
    transform: translateY(100%);
}

.nt.enter {
    transform: translateY(0);
}

/* Make enough space, so that the entering buttons
 * don't cause the screen to shift.
 */

.fn.fix {
    pointer-events: none;
    visibility: hidden;
}

/* Ending text */

#end {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    overflow: hidden;
    perspective: 1400px;
    transition: opacity 0.5s;
}

#end div {
    display: none;
    font-size: 32px;
    height: 600px;
    line-height: 1.6;
    padding: 600px 30px 0;
    text-align: center;
    transform: rotateX(40deg);
    transition: padding-top 10s ease-out;
    white-space: pre-line;
}

#end.enter {
    opacity: 1;
}

#end.enter div {
    padding-top: 0;
}
