@charset "utf-8";

/* 1bit Monitor Glow palette
 * https://lospec.com/palette-list/1bit-monitor-glow
 *
 * off = #222323
 * on = #F0F6F0
 */

body {
    background: #222323;
    font-family: -apple-system, 'Segoe UI', 'DejaVu Sans', system-ui, sans-serif;
    margin: 1vw;
}

canvas {
    display: block;
}

#all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#p1, #p2 {
    background: #F0F6F0;
}

#p1, #a, #b, #nu {
    height: 600px;
    width: 600px;
}

#p2 {
    height: 500px;
    width: 500px;
}

#a, #b, #nu {
    position: absolute; /* stack #a on top of #b */
}

#bt {
    display: none;
    height: 200px;
    width: 100px;
}

#nu {
    display: flex;
    flex-direction: column-reverse;
    text-transform: capitalize;
}

.nt, .n2 {
    padding: 0 4px;
}

.nt {
    background: #fff;
    color: #222323;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4;
}

.n2 {
    background: #DD3745;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.6;
    margin: 0 -4px;
    text-shadow: 2px 2px #A52639;
}
